<div class="viewswiper relative">
    <div class="swiper-wrapper">
        {{ range first 4 (where site.RegularPages.ByDate.Reverse "Type" .recenttype )}}
        <div class="swiper-slide">
            <a href="{{ .Permalink }}">{{ partial "viewrecentsummary.html" . }}</a>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev viewswiper-button"></div>
    <div class="swiper-button-next viewswiper-button"></div>
</div>

<div class="flex flex-wrap justify-center text-gray-300 my-5">
    <a href="{{ .recenttype }}/"
        class="duration-200 px-6 py-3 bg-tlgray-800 hover:opacity-80 hover:text-white relative block focus:outline-none text-md text-center">
        更多 >
    </a>
</div>

<style>
.viewswiper-button:after {
    color: black
}
</style>

<script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
<script>
  var viewswiper = new Swiper('.viewswiper', {
    slidesPerView: 4,
    direction: getDirection(),
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    on: {
      resize: function () {
        viewswiper.changeDirection(getDirection());
      },
    },
  });

  function getDirection() {
    var windowWidth = window.innerWidth;
    var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

    return direction;
  }
</script>
