<div class="viewswiper-{{ .recenttype }} relative overflow-hidden">
    <div class="swiper-wrapper">
        {{ range first (math.Min (where site.RegularPages.ByWeight "Type" .recenttype | len) 4) (where site.RegularPages.ByWeight "Type" .recenttype )}}
        <div class="swiper-slide">
            <a href="{{ .Permalink }}">{{ partial "viewrecentsummary.html" . }}</a>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev viewswiper-button"></div>
    <div class="swiper-button-next viewswiper-button"></div>
</div>

<div class="flex flex-wrap justify-center text-gray-300 my-5">
    <a href="{{ .recenttype }}/"
        class="duration-200 px-6 py-3 bg-tlgray-800 hover:opacity-80 hover:text-white relative block focus:outline-none text-md text-center">
        更多 >
    </a>
</div>

<style>
.viewswiper-button:after {
    color: black
}
</style>


<script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
<script>
  //slidesPerView: Math.max(Math.floor(window.screen.width / (0.4444444444444444 * window.screen.height)), 1),
  var viewswiper_{{ .recenttype | safeJS }} = new Swiper('.viewswiper-{{ .recenttype }}', {
    direction: "horizontal",
    loop: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
{{ if ge (where site.RegularPages.ByWeight "Type" .recenttype | len) 4 }}
      '@1.777777': {
        slidesPerView: 4,
      },
{{ end }}
{{ if ge (where site.RegularPages.ByWeight "Type" .recenttype | len) 3 }}
      '@1.333333': {
        slidesPerView: 3,
      },
{{ end }}
{{ if ge (where site.RegularPages.ByWeight "Type" .recenttype | len) 2 }}
      '@0.888888': {
        slidesPerView: 2,
      },
{{ end }}
{{ if ge (where site.RegularPages.ByWeight "Type" .recenttype | len) 1 }}
      '@0.444444': {
        slidesPerView: 1,
      },
{{ end }}
    }
  });
  function setpadding() {
    let maxh = 0;
    for (let i = 0; i < viewswiper_{{ .recenttype | safeJS }}.slides.length; i++) {
      viewswiper_{{ .recenttype | safeJS }}.slides[i].getElementsByClassName('padding')[0].style.height = "0px";
      maxh = Math.max(viewswiper_{{ .recenttype | safeJS }}.slides[i].offsetHeight, maxh);
    }
    for (let i = 0; i < viewswiper_{{ .recenttype | safeJS }}.slides.length; i++) {
      viewswiper_{{ .recenttype | safeJS }}.slides[i].getElementsByClassName('padding')[0].style.height = `${maxh - viewswiper_{{ .recenttype | safeJS }}.slides[i].offsetHeight}px`;
    }
  };
  window.addEventListener("load", setpadding);
  window.addEventListener("resize", setpadding);
</script>
