<form id="contact" name="contact" onsubmit="submitForm(event)">
    <div class="input">
        <input type="text" placeholder="公司" name="company" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="職稱" name="jobtitle" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="姓名" name="name" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="Email" name="mail" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <input type="text" placeholder="電話" name="phone" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required>
    </div>
    <div class="input">
        <textarea rows="5" cols="30" placeholder="訊息" name="message" class="p-4 bg-gray-200 border border-gray-200 focus:outline-none focus:bg-white focus:border-gray-500" required></textarea>
    </div>
    <input type="submit" value="送出" class="px-8 py-2 duration-200 bg-gray-800 text-white cursor-pointer transition-colors hover:bg-gray-400">
</form>

<script>
    function submitForm(event) {
        const form = document.getElementById('contact');
        const params = new URLSearchParams({
            usp: 'pp_url',
            'entry.825422953': form.elements['name'].value,
            'entry.1573808039': form.elements['company'].value,
            'entry.1998229117': form.elements['jobtitle'].value,
            'entry.2025747396': form.elements['mail'].value,
            'entry.921783612': form.elements['phone'].value,
            'entry.1547656647': form.elements['message'].value,
            submit: 'Submit',
        });
        fetch(`https://docs.google.com/forms/d/e/1FAIpQLSfQujnLFPnHPTlVHdVqcA65HeJRWa4mskKmyo3j8g2UZq2BlQ/formResponse?${params.toString()}`);
        alert('寄送成功');
    }
</script>
